@charset "utf-8";
/* CSS Document */
*{box-sizing: border-box}
.container{
	width: 80%; margin: 0 auto
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {
  float: left;
  padding: 15px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.container {
width:80%;
margin:auto
}
.mt-10{ margin-top: 10px}
.mt-20{ margin-top: 20px}
.mb-10{ margin-bottom: 10px}
.mb-20{ margin-bottom: 20px}
.p-0{ padding: 0px}
.mx-auto{ margin-left: auto; margin-right: auto}
.d-block{ display:block}
.img-100{ max-width:100%; height:auto}
.bg-primary{ background-color: #FFE6E6}
.bg-secondary{ background-color: #E1AFD1}
.text-primary{color: #7469B6}
.text-light{color: #7469B6}
.text-dark{color: #170E4F}
a{ color: #E1AFD1 ; text-decoration: none}
a:hover { color: #AD88C6 }
h1,h2,h3 { font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"}
Body{ font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"}

.row::after{
	content:"";
	clear: both;
	display: table;
}
.d-flex{
	display: flex
}
.justify-center{
	justify-content: center
}
.justify-between{
	justify-content: space-between
}
.justify-around{
	justify-content: space-around
}
.align-center{
	align-items:center
}
.text-center{
	text-align: center
}